@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Klee+One&display=swap);
/* ================================ Basic CSS =============================== */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans',sans-serif; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

img {
  max-width: 100%; }
video{max-width: 100%;}
h1, h2, h3, h4, h5, h6 {
  margin: 0px; }
h1{font-family: 'Bebas Neue', cursive;letter-spacing: 1px}
.breathe{font-family: 'Klee One', cursive;text-transform: lowercase;}
ul, ol {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1170px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 0px 15px;
      max-width: 100%;
      width: 100%; } }

/* ================================ Header CSS =============================== */
header .my-nav {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 15px 0px;
  padding-left: 15px; }
header .sub-01 {
  position: relative;
  background: #fd580b; }
header .nav-items {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  max-width: 100%;
  width: 100%;
  position: relative;
  align-items: center; }
  header .nav-items .menu-toggle {
    position: absolute;
    top: 1.5625rem;
    right: 0.9375rem;
    transition: ease-in-out 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0; }
    @media screen and (max-width: 767.98px) {
      header .nav-items .menu-toggle {
        visibility: visible;
        opacity: 1; } }
    header .nav-items .menu-toggle .menu-hamburger {
      width: 1.875rem;
      height: 0.125rem;
      transition: ease-in-out 0.1s;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.6);
      background: #fd580b;
      position: relative; }
      header .nav-items .menu-toggle .menu-hamburger.active {
        background: rgba(0, 0, 0, 0);
        box-shadow: none; }
        header .nav-items .menu-toggle .menu-hamburger.active::after {
          transform: rotate(45deg); }
        header .nav-items .menu-toggle .menu-hamburger.active::before {
          transform: rotate(135deg); }
      header .nav-items .menu-toggle .menu-hamburger::before {
        position: absolute;
        content: "";
        width: 1.875rem;
        height: 0.125rem;
        transition: ease-in-out 0.1s;
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.6);
        background: #fd580b;
        transform: translatey(-0.625rem); }
      header .nav-items .menu-toggle .menu-hamburger::after {
        position: absolute;
        content: "";
        width: 1.875rem;
        height: 0.125rem;
        transition: ease-in-out 0.1s;
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.6);
        background: #fd580b;
        transform: translatey(0.625rem); }
  header .nav-items .logo {
    width: 30%;
    flex: 1 1 30%;
    max-width: 30%; }
    header .nav-items .logo img {
      max-width: 230px; }
    @media screen and (max-width: 767.98px) {
      header .nav-items .logo {
        width: 80%;
        flex: 1 1 80%;
        max-width: 80%; } }
  header .nav-items .menu-items {
    width: 70%;
    flex: 1 1 70%;
    max-width: 70%;
    position: relative;
    align-items: center;
    justify-content: flex-end; }
    @media screen and (max-width: 767.98px) {
      header .nav-items .menu-items {
        width: 100%;
        flex: 1 1 100%;
        max-width: 100%;
        margin-top: 10px; } }
    header .nav-items .menu-items .menu {
      display: block;
      width: 100%;
      text-align: right; }
      header .nav-items .menu-items .menu.active {
        opacity: 1;
        visibility: visible;
        display: block;
        transition: ease-in-out 0.9s; }
      @media screen and (max-width: 767.98px) {
        header .nav-items .menu-items .menu {
          text-align: left;
          opacity: 0;
          visibility: hidden;
          display: none; } }
      header .nav-items .menu-items .menu ul li {
        display: inline-block;
        padding: 0.625rem; }
        @media screen and (max-width: 767.98px) {
          header .nav-items .menu-items .menu ul li {
            display: block; } }
        header .nav-items .menu-items .menu ul li a {
          color: #222222;
          padding: 0 1.25rem;
          font-weight: 700; }
          header .nav-items .menu-items .menu ul li a:hover {
            color: #fd580b; }
          @media screen and (max-width: 767.98px) {
            header .nav-items .menu-items .menu ul li a {
              padding: 0rem; } }
          @media (min-width: 768px) and (max-width: 991.98px) {
            header .nav-items .menu-items .menu ul li a {
              padding: 0 0.625rem; } }

.og-hf {
  position: fixed;
  transition: ease-in-out 0.5s;
  width: 100%;
  z-index: 999;
  left: 0;
  top: 0; }
  .og-hf .my-nav {
    background: #fff; }

/* ================================ Slider CSS =============================== */
.banner {
  position: relative;
  height: 37.5rem;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  background-image: url(../images/slider/1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3.125rem 0; }
  .banner .wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1.25rem 0;
    padding: 6.25rem 0 2.5rem 0; }
    .banner .wrapper h1 {
      font-size: 1.875rem;
      color: #fff;
      display: block;
      margin: .625rem 0;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .2px; }
    .banner .wrapper p {
      display: block;
      font-size: 1.25rem;
      margin: .625rem 0;
      color: #fff; }
    .banner .wrapper ol li {
      display: inline-block;
      background-color: #fd580b;
      font-size: 1rem;
      color: #fff;
      padding: 8px 35px;
      border-radius: .3125rem;
      letter-spacing: 1.5px;font-family: 'Klee One', cursive;
      font-weight: bold;
      margin: .625rem 0; }
      .banner .wrapper ol li:nth-child(2) {
        margin-left: 1.25rem; }
      .banner .wrapper ol li a {
        color: #fff; }

/* ================================ Section CSS =============================== */
.bg-01 {
  position: relative;
  margin-top: -5rem;
  width: 100%; }
  .bg-01 .wrapper {
    background: #fff;
    position: relative;
    padding: 2.5rem 1.875rem;
    display: block;
    width: 100%;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.15);
    z-index: 9; }
    .bg-01 .wrapper .content {
      display: block;
      position: relative;
      transition: all ease-in-out 0.5s;
      margin: .625rem 0; }
      .bg-01 .wrapper .content ol .dashed {
        border-right: 1px dashed #ddd; }
      .bg-01 .wrapper .content ol li {
        display: inline-block;
        position: relative;
        padding: .625rem 0; }
        .bg-01 .wrapper .content ol li i {
          display: block;
          font-size: 2.5rem;
          color: #fd580b; }
        .bg-01 .wrapper .content ol li h3 {
          font-size: 1.25rem;
          color: #222222;
          text-transform: capitalize;
          font-weight: 600;
          display: inline-block;
          margin: .625rem 0; }
        .bg-01 .wrapper .content ol li p {
          display: block;
          font-size: 1rem;
          color: #373738;
          line-height: 1.5rem;
          margin: 0 0 .625rem 0; }

.bg-02 {
  padding: 3.125rem 0;
  position: relative;
  overflow: hidden; }
  .bg-02 .wrapper {
    margin: 1.25rem 0;
    position: relative;
    display: block; }
    .bg-02 .wrapper figure {
      margin: 0; }
    .bg-02 .wrapper .bs {
      padding: 1.25rem;
      border: 1px dashed #ddd;
      position: relative;
      display: inline-block; }
      .bg-02 .wrapper .bs h3 {
        font-size: 1.25rem;
        color: #222222;
        font-weight: 600; }
      .bg-02 .wrapper .bs p {
        font-size: .9375rem;
        color: #373738;
        line-height: 1.5rem;
        display: inline-block;
        margin: .625rem 0; }
      .bg-02 .wrapper .bs ol li {
        display: inline-block;
        font-size: .8125rem; }
        .bg-02 .heading ol li i {
          margin: 0 .625rem 0 0;
          color: #fd580b; }

.bg-03 {
  position: relative;
  padding: 3.125rem 0;
  background: #fafafa;
  overflow: hidden; }
  .bg-03 .wrapper {
    position: relative;
    display: block;
    margin: 1.25rem 0;
    padding: 1.25rem; }
    .bg-03 .wrapper .content {
      text-align: center; }
      .bg-03 .wrapper .content ol li {
        display: block; }
        .bg-03 .wrapper .content ol li i {
          font-size: 1.875rem;
          color: #fd580b;
          margin: .625rem 0;
          display: block; }
        .bg-03 .wrapper .content ol li h3 {
          font-size: 1.25rem;
          color: #222222;
          font-weight: 600; }
        .bg-03 .wrapper .content ol li p {
          display: block;
          margin: .625rem 0;
          color: #373738;
          font-size: 1rem; }

.bg-04 {
  padding: 3.125rem 0;
  position: relative;
  overflow: hidden; }
  .bg-04 .main-team-card {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 15px;
    margin: 20px 0px;
    position: relative;
    transition: 0.5s; }
    .bg-04 .main-team-card .team-setup {
      margin: 0 0 20px 0;
      padding: 10px;
      flex: 1 1 25%;
      width: 25%;
      max-width: 25%; }
      @media screen and (max-width: 375px) {
        .bg-04 .main-team-card .team-setup {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%;
          -webkit-flex-direction: 1 1 100%;
          -moz-flex-direction: 1 1 100%;
          -ms-flex-direction: 1 1 100%; } }
      @media (min-width: 376px) and (max-width: 767.98px) {
        .bg-04 .main-team-card .team-setup {
          width: 50%;
          max-width: 50%;
          flex: 1 1 50%;
          -webkit-flex-direction: 1 1 50%;
          -moz-flex-direction: 1 1 50%;
          -ms-flex-direction: 1 1 50%; } }
      .bg-04 .main-team-card .team-setup .team-items {
        width: 100%;
        display: block;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
        transition: 0.5s;
        position: relative; }
        .bg-04 .main-team-card .team-setup .team-items:hover .team-user-social {
          opacity: 1;
          visibility: visible;
          left: 0;
          display: block; }
        .bg-04 .main-team-card .team-setup .team-items:hover .team-user::before {
          width: 100%;
          opacity: 1;
          visibility: visible;
          display: block; }
        .bg-04 .main-team-card .team-setup .team-items .team-name {
          padding: 5px 0px;
          position: relative;
          display: block;
          text-align: center;
          z-index: 2; }
          .bg-04 .main-team-card .team-setup .team-items .team-name::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background: #fff;
            top: -10px;
            -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            left: 47%;
            z-index: 1; }
          .bg-04 .main-team-card .team-setup .team-items .team-name h2 {
            font-size: 18px; }
          .bg-04 .main-team-card .team-setup .team-items .team-name b {
            font-size: 15px;
            color: #848484; }
        .bg-04 .main-team-card .team-setup .team-items .team-user {
          overflow: hidden;
          position: relative;
          transition: 0.5s; }
          .bg-04 .main-team-card .team-setup .team-items .team-user::before {
            position: absolute;
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            width: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            background: rgba(0, 0, 0, 0.7); }
        .bg-04 .main-team-card .team-setup .team-items .team-user-social {
          position: absolute;
          height: 45px;
          background: rgba(255, 255, 255, 0.1);
          width: 100%;
          padding: 5px 0px;
          top: 50%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          left: -100%;
          opacity: 0;
          visibility: hidden;
          transition: 0.5s;
          display: none; }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .bg-04 .main-team-card .team-setup .team-items .team-user-social {
              top: 40%; } }
          .bg-04 .main-team-card .team-setup .team-items .team-user-social ol li {
            display: inline-block;
            padding-right: 10px;
            color: #fff;
            transition: 0.6s;
            height: 30px;
            width: 30px;
            background: #fd580b;
            line-height: 30px;
            text-align: center;
            padding: 0px;
            border-radius: 50px;
            font-size: 16px;
            margin-right: 5px; }
            .bg-04 .main-team-card .team-setup .team-items .team-user-social ol li:hover {
              color: #fd580b;
              transform: translateX(-5px); }



/* ================================ Footer CSS =============================== */
footer {
  position: relative;
  padding: 50px 0px 0px;
  background: #212121; }
  @media screen and (max-width: 767.98px) {
    footer {
      padding: 20px 0 0; } }
  footer .copy-right {
    padding: 20px 0px;
    border-top: solid 1px #dfdfdf;
    font-size: 14px;
    color: #84878a;
    text-align: center; }
    footer .copy-right p a {
      color: #fd580b;
      padding-left: 10px;
      font-weight: bold; }
  footer .footer-content {
    margin: 20px 0px;
    display: block;
    width: 100%;
    color: #84878a; }
    footer .footer-content p {
      font-size: 16px;
      padding: 10px 0px;
      line-height: 27px;
      margin: 0px; }
    footer .footer-content ul li {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: #fd580b;
      color: #fff;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      margin: 5px 3px 0px 0px; }
    footer .footer-content ol li {
      padding: 10px 0px;
      position: relative; }
      footer .footer-content ol li a {
        color: #84878a;
        font-size: 16px; }
        footer .footer-content ol li a i {
          padding-right: 10px;
          color: #fd580b; }
    footer .footer-content h2 {
      font-size: 20px;
      position: relative;
      padding: 5px 0px;
      font-weight: 600;
      color: #fff; }
    footer .footer-content .form-group {
      position: relative; }
      footer .footer-content .form-group .form-control {
        height: 40px;
        padding-right: 40px;
        text-overflow: ellipsis; }
      footer .footer-content .form-group i {
        position: absolute;
        height: 40px;
        width: 40px;
        line-height: 40px;
        color: #fff;
        background: #fd580b;
        text-align: center;
        top: 0;
        right: 0; }

.bg-0-b {
  padding: 50px 0px;
  position: relative;
  background: #e8f0f5;
  z-index: 2; }
  .bg-0-b .main-card-contact {
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;
    padding: 10px 15px;
    position: relative;
    z-index: 9; }
    .bg-0-b .main-card-contact .sup-card-contact {
      width: 40%;
      max-width: 40%;
      flex: 1 1 40%; }
      @media screen and (max-width: 767.98px) {
        .bg-0-b .main-card-contact .sup-card-contact {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
      .bg-0-b .main-card-contact .sup-card-contact .contact-title {
        position: relative; }
        .bg-0-b .main-card-contact .sup-card-contact .contact-title h2 {
          font-size: 20px;
          margin: 0 0 10px 0;
          color: #222;
          padding-bottom: 5px;
          position: relative;
          display: inline-block; }
          .bg-0-b .main-card-contact .sup-card-contact .contact-title h2::before {
            position: absolute;
            content: "";
            background: #fd580b;
            width: 100%;
            height: 3px;
            bottom: 0; }
        .bg-0-b .main-card-contact .sup-card-contact .contact-title ol li {
          display: block;
          padding: 10px 0px;
          color: #606060;
          font-size: 16px;
          font-weight: 600; }
          .bg-0-b .main-card-contact .sup-card-contact .contact-title ol li i {
            color: #fd580b;
            padding-right: 15px; }
      .bg-0-b .main-card-contact .sup-card-contact .head-content {
        position: relative;
        display: block; }
        .bg-0-b .main-card-contact .sup-card-contact .head-content h2 {
          font-size: 20px;
          margin: 0 0 10px 0;
          color: #222;
          padding-bottom: 5px;
          position: relative;
          display: inline-block; }
          .bg-0-b .main-card-contact .sup-card-contact .head-content h2::before {
            position: absolute;
            content: "";
            background: #fd580b;
            width: 100%;
            height: 3px;
            bottom: 0; }
        .bg-0-b .main-card-contact .sup-card-contact .head-content p {
          font-size: 16px;
          line-height: 27px;
          display: block;
          padding: 20px 0px;
          margin: 0px; }
    .bg-0-b .main-card-contact .sup-card-contact-0a {
      width: 60%;
      max-width: 60%;
      flex: 1 1 60%; }
      @media screen and (max-width: 767.98px) {
        .bg-0-b .main-card-contact .sup-card-contact-0a {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
      .bg-0-b .main-card-contact .sup-card-contact-0a .dived {
        width: 100%;
        flex-wrap: wrap; }
        .bg-0-b .main-card-contact .sup-card-contact-0a .dived .ca-ool {
          padding: 0px 10px; }
        .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group {
          width: 50%;
          max-width: 50%;
          flex: 1 1 50%; }
          .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup {
            margin: 10px;
            position: relative; }
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup .cal-01 {
              position: relative; }
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup i {
              position: absolute;
              right: 0px;
              top: 0px;
              height: 45px;
              width: 45px;
              background: #fd580b;
              text-align: center;
              line-height: 45px;
              color: #fff;
              border-top-right-radius: .25rem;
              border-bottom-right-radius: .25rem; }
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup label {
              font-size: 15px;
              color: #6e6e6e; }
              .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup label span {
                position: relative;
                top: 4px;
                left: 5px;
                color: #fd580b; }
          .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-control {
            padding: 10px 15px;
            margin: 30px 0px;
            height: 45px;
            position: relative; }

.abt-01 {
  padding: 3.125rem 0;
  background: #fd580b;
  position: relative;
  overflow: hidden;
  z-index: 9; }
  .abt-01::before {
    position: absolute;
    content: "";
    background: #fff;
    height: 9.375rem;
    width: 9.375rem;
    top: 0%;
    left: 48%;
    z-index: 1;
    opacity: 0.1;
    transform: translate3d(-23%, 17%, 0) rotate(-54deg); }
  .abt-01 .heading-wrapper {
    position: relative;
    margin: 1.25rem 0;
    display: block;
    text-align: center;
    z-index: 8; }
    .abt-01 .heading-wrapper h3 {
      font-size: 1.25rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 0.625rem;
      text-transform: uppercase; }
    .abt-01 .heading-wrapper ol li {
      display: inline-block;
      font-size: 1rem;
      color: #ddd; }
      .abt-01 .heading-wrapper ol li:nth-child(2) {
        color: #fff; }
      .abt-01 .heading-wrapper ol li i {
        margin: 0 0.625rem;
        color: #ddd; }

/*# sourceMappingURL=style.css.map */
